<template>
<div @click="selectFilm" class="film-wrapper" v-if="filmDataLoaded">
  <img :src="filmImage" class="filmImage">
  <div class="filmInfo-wrapper">
    <span>
      {{ filmDetails.data.title }}
    </span>
    <span class="has-text-weight-bold" v-if="filmYear">
      ({{ filmYear }})
    </span>
  </div>
</div>
</template>

<script>
import store from '../store'
export default {
  props: ["id"],

  data() {
    return {
      filmDetails: {},
      filmDataLoaded: false
    }
  },

  mounted() {
    let promises = []
    promises.push(
      this.$http.get(`https://api.themoviedb.org/3/movie/${this.id}?api_key=${store.state.apikey}&language=es-ES`).then(response => {
        this.filmDetails.data = response.data
      })
    )

    promises.push(
      this.$http.get(`https://api.themoviedb.org/3/movie/${this.id}/credits?api_key=${store.state.apikey}`).then(response => {
        this.filmDetails.actors = response.data.cast.slice(0, 5).map(a => a.name)
      })
    )

    this.$http.all(promises).then(() => {
      this.filmDataLoaded = true
    })
  },

  computed: {
    filmImage() {
      if (this.filmDetails.data.poster_path)
        return `https://image.tmdb.org/t/p/w200${this.filmDetails.data.poster_path}`
      else
        return 'http://via.placeholder.com/150x150'
    },

    filmYear() {
      return this.filmDetails.data.release_date.substring(0, this.filmDetails.data.release_date.indexOf("-"))
    }
  },

  methods: {
    selectFilm() {
      let filmDetails = {
        ...this.filmDetails.data,
        imagePath: this.filmImage,
        filmYear: this.filmYear,
        actors: this.filmDetails.actors
      }
      store.commit("setSelectedFilm", filmDetails)
      this.$emit("select:film", filmDetails)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~@/scss/_colors.scss";

.film-wrapper {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
  transition: all 100ms linear;
  flex-basis: calc(50% - 20px);
  background-color: #52585e;
  color: white;
  min-height: 80px;

  &:hover {
    transform: scale(1.01);
  }

  @media screen and (max-width: 700px) {
    flex-basis: 100%;
  }
}

.filmInfo-wrapper {
  margin-left: 10px;
  align-self: flex-start;
}

.filmImage {
  border-radius: 5px;
  box-shadow: 0 0 2px 0 lightgrey;
  max-width: 46px;
  max-height: 66px;
  width: 100%;
}
</style>
