<template>
<div class="modal-card" style="width: auto">
  <header class="modal-card-head">
    <p class="modal-card-title title">
      {{ film.title }} ({{ film.filmYear }})
    </p>
  </header>
  <section class="modal-card-body ">
    <h5 class="subtitle is-5">
      {{ film.tagline }}
    </h5>

    <div class="modal-card-body--flex">
      <img :src="film.imagePath" class="imgModal">
      <div class="tabs-wrapper">
        <b-tabs v-model="activeTab">
          <b-tab-item label="Información">
            <div class="has-text-weight-semibold info-header">
              <font-awesome-icon icon="align-left" />
              Descripción
            </div>
            <div class="info-section has-text-grey">
              {{film.overview}}
            </div>

            <div class="has-text-weight-semibold info-header">
              <font-awesome-icon icon="star" />
              Puntuación
            </div>
            <div class="info-section has-text-grey">
              {{film.vote_average}}
            </div>

            <div class="has-text-weight-semibold info-header">
              <font-awesome-icon icon="list-ul" />
              Géneros
            </div>
            <div class="info-section has-text-grey">
              <span v-for="genre in film.genres" :key="genre.id" class="genreName">
                {{ genre.name }}
              </span>
            </div>
            <div class="has-text-weight-semibold info-header">
              <font-awesome-icon icon="users" />
              Actores principales
            </div>
            <div class="info-section has-text-grey">
              <span v-for="(name, idx) in film.actors" :key="`Actor${idx}`" class="actorName">
                {{ name }}
              </span>
            </div>
          </b-tab-item>

          <b-tab-item label="Trailer">
            <iframe width="380" height="290" :src="movieLink" v-if="movieLink"></iframe>
            <span v-else>Trailer no disponible</span>
          </b-tab-item>
        </b-tabs>
      </div>
    </div>

  </section>
</div>
</template>

<script>
import store from '../store'

export default {
  props: ["film"],
  data() {
    return {
      movieLink: '',
      activeTab: 0
    }
  },

  mounted() {
    this.$http.get(`https://api.themoviedb.org/3/movie/${this.film.id}/videos?api_key=${store.state.apikey}&language=es-ES`).then(response => {
      if (response.data.results.length)
        this.movieLink = `https://www.youtube.com/embed/${response.data.results[0].key}`
    })
  }
}
</script>

<style lang="scss" scoped>
.modal-card-body {
  border-radius: 0 0 5px 5px;
}
</style>
