<template>
<div id="app">
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Movie DB</h1>

      <div class="search-wrapper">
        <b-input v-model="searchField" placeholder="Search movie..."></b-input>
      </div>

      <div class="films-wrapper">
        <template v-if="$apollo.loading">
          <font-awesome-icon icon="spinner" class="fa-pulse fa-5x fa-fw loading-icon" />
        </template>
        <template v-else-if="films.length">
          <film v-for="film in films" :id="film.id" :key="film.id" @select:film="openModal"></film>
        </template>
        <template v-else>
          <div class="no-results">
            <img src="@/assets/no-results.png" alt="no-results" class="no-results__image">
            <span class="no-results__text">No results found</span>
          </div>
        </template>
      </div>
    </div>
  </section>
  <b-modal :active.sync="isModalActive">
    <modal :film="getSelectedFilm"></modal>
  </b-modal>
</div>
</template>

<script>
import Film from './components/Film'
import Modal from './components/Modal'
import {
  GET_MOVIES,
  GET_MOVIES_BY_GENRE
} from '@/graphql/movies'

import store from './store'

export default {
  name: 'app',

  data() {
    return {
      apiKey: '7ff07eb4c9fdc08365d740ee05adc97f',
      searchField: '',
      films: [],
      isModalActive: false,
    }
  },
  apollo: {
    films: {
      query: GET_MOVIES,
      variables() {
        return {
          query: this.searchField
        }
      },
      update(data) {
        // debugger
        return data.movies || []
        // this.films = data.movies
      }
    },
    filmsByGenre: {
      query: GET_MOVIES_BY_GENRE,
      variables() {
        return {
          id: 28 // Acción
        }
      },
      update(data) {
        this.films = data.movies_by_genre
      }
    }
  },

  methods: {
    openModal() {
      this.isModalActive = true
    }
  },

  computed: {
    getSelectedFilm() {
      return store.state.selectedFilm
    }
  },

  components: {
    Film,
    Modal
  },

  mounted() {
    store.commit('setApiKey', this.apiKey)
  }
}
</script>

<style lang="scss" scoped>
.films-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  color: white;
}

.no-results {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__image {
    max-width: 400px;
  }

  &__text {
    color: white;
    flex-basis: 100%;
    text-align: center;
    font-size: 25px;
  }
}

.search-wrapper {
  max-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
}

.loading-icon {
  color: white;
  margin-top: 20px;
}
</style>
