@import '_colors.scss';

html {
	overflow-y: auto !important;
}

body {
	margin: 0;
	padding: 0;
	background-color: #282b2e;
	min-height: 100vh;
}

// .film-wrapper {
//     border-radius: 5px;
// 	cursor: pointer;
// 	display: flex;
//     margin-bottom: 8px;
//     transition: box-shadow 100ms linear;

//     &:nth-child(2n) {
// 			background-color: $gris-claro;
// 		}

// 	&:hover {
// 		box-shadow: 0 0 2px 0 #757575;
// 	}
// }

// .filmInfo-wrapper {
// 	margin-left: 10px;
// }

// .filmImage {
// 	border-radius: 5px;
// 	box-shadow: 0 0 2px 0 lightgrey;
//     max-width: 46px;
//     max-height: 66px;
//     width: 100%;
// }

.bar-wrapper {
    border-bottom: 2px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 5px 15px;

    .label {
	    margin-bottom: 0 !important;
    	margin-right: 15px;
    }
}

/* Modal */

.modal-card-body--flex {
	display: flex;
}

.tabs-wrapper {
	margin-left: 10px;
}

.imgModal {
	border-radius: 5px;
	box-shadow: 0 0 2px 0 lightgrey;
	max-height: 280px;
	max-width: 280px;
}

.info-header {
	border-bottom: 1px solid #d4d4d4;
}

.info-section {
	font-size: .9rem;
	padding-left: 20px;
}

.genreName {
	margin-left: 8px;

	&:not(:last-child) {
		&:after {
			content: "|";
			position: absolute;
		}
	}
}

.actorName {
	margin-right: 8px;
	position: relative;

	&:not(:last-child) {
		&:after {
			content: ",";
			position: absolute;
			right: -2px;
		}
	}
}

.apollo.loading {
	margin-top: 20px;
}

/* Bulma */

@import "~bulma/sass/utilities/_all";

$modal-content-width: 1000px;

@import "~bulma";
@import "~buefy/src/scss/buefy";